<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="bonfire"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      FotosGram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <!-- Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- POST -->
  <app-posts [posts]="posts"></app-posts>
  <!-- Infinite Scroll -->
  <ion-infinite-scroll [disabled]="!habilitado" threshold="150px" (ionInfinite)="siguiente($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="customfab">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" class="custom-fab-button">
      <ion-fab-button color="danger">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="customfab">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="customfab">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
