.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}
.inputs-login{
    border-radius: 10px;
}
ion-content {
    --background: linear-gradient(to bottom, #3c0fb7, #22b1ce);
  }
.login-form{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: 10px;
}
.login-icon-background{
    background: linear-gradient(to right, #23bedc,#4c15e5);
    width: fit-content;
    margin: auto;
    border-radius: 39%;
}
.col-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}