<ion-content>
  <ion-slides class="mainSlide" #slidePrincipal>
    <ion-slide>
      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm" class="login-form">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <div class="login-icon-background">
                <img src="/assets/icon.png" style="display: block; margin: auto;">
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list class="inputs-login">
                <ion-item>
                  <ion-icon name="person" slot="start"></ion-icon>
                  <ion-input name="email"
                              type="email"
                              [(ngModel)]="loginUser.user"
                              placeholder="Ingresa tu nombre de usuario"
                              required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="lock-closed" slot="start"></ion-icon>
                  <ion-input name="password"
                              [type]="type"
                              [(ngModel)]="loginUser.pass"
                              placeholder="Ingresa tu contraseña"
                              required></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>            
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Mostrar contraseña: </ion-label>
            </ion-col>
            <ion-col class="col-vertical-center">
              <ion-toggle color="primary" name="show" (ionChange)="show($event)"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          shape="round">
                Iniciar Sesión
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed class="login-form">
          <!--Avatar selector-->
          <app-avatar-selector (avatarSel)="usuario.avatar=$event"></app-avatar-selector>
            <form (ngSubmit)="register(fRegister)" #fRegister="ngForm">
                <ion-row>
                    <ion-col>
                        
                        <ion-list class="inputs-login">
                            
                            <ion-item>
                            <ion-input name="email" 
                                        type="email"
                                        [(ngModel)]="usuario.email"
                                        placeholder="Correo electrónico"
                                        maxlength="255"
                                        required></ion-input>
                            </ion-item>

                            <ion-item>
                            <ion-input name="nombre"
                                        type="text"
                                        [(ngModel)]="usuario.nombre"
                                        placeholder="Nombre"
                                        minlength="4"
                                        maxlength="100"
                                        required></ion-input>
                            </ion-item>

                            <ion-item>
                            <ion-input name="password"
                                        type="password"
                                        [(ngModel)]="usuario.password"
                                        placeholder="Contraseña"
                                        minlength="8"
                                        maxlength="32"
                                        required></ion-input>
                            </ion-item>
                            <ion-item>
                              <ion-input name="password2"
                                          type="password"
                                          [(ngModel)]="password2"
                                          minlength="8"
                                          maxlength="32"
                                          placeholder="Confirmar contraseña"
                                          required></ion-input>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round">
                        Registrarme
                    </ion-button>
                </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>
      </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="tertiary" (click)="mostrarRegistro()">
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary" (click)="mostrarLogin()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>